# Data Integrity Check 

This notebook validates that the final `feature_engineered` table does not contain
invalid raw flow records.

## Goals:
1. Identify and remove rows where any canonical raw field is NULL, Negative or 0 (which should not occur in valid flow data)

In [1]:
!pip -q install "PyAthena[SQLAlchemy]" sqlalchemy s3fs

In [2]:
import boto3
import sagemaker
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, text

# Display settings
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", None)
pd.set_option("display.max_colwidth", None)
pd.set_option("display.width", None)

sagemaker.config INFO - Not applying SDK defaults from location: /etc/xdg/sagemaker/config.yaml
sagemaker.config INFO - Not applying SDK defaults from location: /home/sagemaker-user/.config/sagemaker/config.yaml

## Connect to Athena

In [3]:
sess = sagemaker.Session()
region = boto3.Session().region_name

results_bucket = sess.default_bucket()
athena_results_path = f"s3://{results_bucket}/athena/staging/"

database_name = "aai540_eda"

engine = create_engine(
    f"awsathena+rest://@athena.{region}.amazonaws.com:443/{database_name}",
    connect_args={"s3_staging_dir": athena_results_path, "region_name": region},
)
print("Region:", region)
print("Athena results:", athena_results_path)

Region: us-east-1
Athena results: s3://sagemaker-us-east-1-128131109986/athena/staging/

In [4]:
# Helper functions for queries
def exec_ddl(sql: str):
    with engine.begin() as conn:
        conn.execute(text(sql))

def read_sql(sql: str) -> pd.DataFrame:
    return pd.read_sql(sql, engine)

## Profile counts: NULL / negative / zero (per feature)

This creates a new table version: `merged_canonical_normalized_v1`

In [21]:
# drop table if it already exists
exec_ddl(f"DROP TABLE IF EXISTS {database_name}.merged_canonical_normalized_v1")

# create table pkt_rate
exec_ddl(f"""
CREATE TABLE {database_name}.merged_canonical_normalized_v1
WITH (
  format = 'PARQUET',
  external_location = 's3://{results_bucket}/aai540/processed/merged_canonical_normalized_v1/',
  parquet_compression = 'SNAPPY'
) AS
SELECT
  *,
  CASE
    WHEN duration IS NULL OR duration <= 0 THEN NULL
    ELSE CAST(pkt_total AS DOUBLE) / CAST(duration AS DOUBLE)
  END AS pkt_rate
FROM {database_name}.merged_canonical_normalized
""")

In [34]:
read_sql(f"""
SELECT duration, pkt_total, pkt_rate
FROM {database_name}.merged_canonical_normalized_v1
pkt_total
Limit 25
""")

    duration  pkt_total   pkt_rate
0   0.316483         13  41.076456
1   0.228041          8  35.081411
2   1.113813         17  15.262885
3   0.403528         11  27.259571
4   0.400382         11  27.473763
5   0.445936         10  22.424743
6   0.290839          9  30.944956
7   0.382943         11  28.724902
8   0.276969         10  36.105124
9   0.268739          9  33.489743
10  0.422737          9  21.289833
11  0.348235         10  28.716240
12  0.393630         10  25.404568
13  0.287551          9  31.298796
14  0.336999         10  29.673679
15  0.253114          9  35.557101
16  0.323383          9  27.830777
17  0.396600         11  27.735754
18  0.418313         13  31.077208
19  0.485110         10  20.613881
20  1.405121         11   7.828507
21  0.344539         11  31.926719
22  0.369096         10  27.093222
23  1.400636         18  12.851305
24  1.840251         11   5.977445

### Sanity check

In [23]:
read_sql(f"""
SELECT
  COUNT(*) AS rows_total,
  SUM(CASE WHEN duration IS NULL OR duration <= 0 THEN 1 ELSE 0 END) AS bad_duration_rows,
  SUM(CASE WHEN (duration IS NULL OR duration <= 0) AND pkt_rate IS NOT NULL THEN 1 ELSE 0 END) AS pkt_rate_should_be_null_but_isnt
FROM {database_name}.merged_canonical_normalized_v1
""")

   rows_total  bad_duration_rows  pkt_rate_should_be_null_but_isnt
0    26708942            5325854                                 0

This creates a new table version: `merged_canonical_normalized_v3`

In [35]:
# drop v3 if it already exists
exec_ddl(f"DROP TABLE IF EXISTS {database_name}.merged_canonical_normalized_v3")

# create v3 with bytes_per_pkt (built on v2 so prior features are retained)
exec_ddl(f"""
CREATE TABLE {database_name}.merged_canonical_normalized_v3
WITH (
  format = 'PARQUET',
  external_location = 's3://{results_bucket}/aai540/processed/merged_canonical_normalized_v3/',
  parquet_compression = 'SNAPPY'
) AS
SELECT
  *,
  CASE
    WHEN pkt_total IS NULL OR pkt_total <= 0 THEN NULL
    ELSE CAST(bytes_total AS DOUBLE) / CAST(pkt_total AS DOUBLE)
  END AS bytes_per_pkt
FROM {database_name}.merged_canonical_normalized_v2
""")

In [48]:
read_sql(f"""
SELECT duration, pkt_total, bytes_total, bytes_per_pkt
FROM {database_name}.merged_canonical_normalized_v3
WHERE bytes_total > 0
LIMIT 25
""")

    duration  pkt_total  bytes_total  bytes_per_pkt
0   0.003623          6          386      64.333333
1   4.154148         16         5116     319.750000
2   3.264887         20         2468     123.400000
3   0.286771          2          853     426.500000
4   0.289019          4          473     118.250000
5   0.002456         11         3324     302.181818
6   0.011957         10         1182     118.200000
7   0.000523          2          573     286.500000
8   0.739264         22         4265     193.863636
9   0.001237          2          573     286.500000
10  0.012848         16         4204     262.750000
11  0.723696         23         4265     185.434783
12  0.015702         15         4204     280.266667
13  0.404372          2           66      33.000000
14  1.024035          2          224     112.000000
15  0.002582          2          426     213.000000
16  0.061872          2          573     286.500000
17  0.003204          6          386      64.333333
18  0.001494         11         3324     302.181818
19  3.264969         20         2468     123.400000
20  0.000018          2           66      33.000000
21  0.026543          2          873     436.500000
22  0.028086          4          473     118.250000
23  0.803966         25         4265     170.600000
24  3.164863         16         5116     319.750000

### Sanity check

In [38]:
read_sql(f"""
SELECT
  COUNT(*) AS rows_total,
  SUM(CASE WHEN pkt_total IS NULL OR pkt_total <= 0 THEN 1 ELSE 0 END) AS bad_pkt_total_rows,
  SUM(CASE WHEN (pkt_total IS NULL OR pkt_total <= 0) AND bytes_per_pkt IS NOT NULL THEN 1 ELSE 0 END) AS bytes_per_pkt_should_be_null_but_isnt
FROM {database_name}.merged_canonical_normalized_v3
""")

   rows_total  bad_pkt_total_rows  bytes_per_pkt_should_be_null_but_isnt
0    26708942              115260                                      0

This creates a new table version: `merged_canonical_normalized_v4`

In [39]:
# drop v4 if it already exists
exec_ddl(f"DROP TABLE IF EXISTS {database_name}.merged_canonical_normalized_v4")

# create v4 with pkt_ratio (built on v3 so prior features are retained)
exec_ddl(f"""
CREATE TABLE {database_name}.merged_canonical_normalized_v4
WITH (
  format = 'PARQUET',
  external_location = 's3://{results_bucket}/aai540/processed/merged_canonical_normalized_v4/',
  parquet_compression = 'SNAPPY'
) AS
SELECT
  *,
  CASE
    WHEN pkt_fwd IS NULL OR pkt_fwd < 0 THEN NULL
    WHEN pkt_bwd IS NULL OR pkt_bwd < 0 THEN NULL
    ELSE CAST(pkt_fwd AS DOUBLE) / (CAST(pkt_bwd AS DOUBLE) + 1.0)
  END AS pkt_ratio
FROM {database_name}.merged_canonical_normalized_v3
""")

In [47]:
read_sql(f"""
SELECT duration, pkt_total, pkt_fwd, pkt_bwd, pkt_ratio
FROM {database_name}.merged_canonical_normalized_v4
LIMIT 25
""")

     duration  pkt_total  pkt_fwd  pkt_bwd  pkt_ratio
0   60.709581          5        3        2        1.0
1    0.000001          2        1        1        0.5
2    0.000220          2        1        1        0.5
3    0.000059          2        1        1        0.5
4   60.724468          5        3        2        1.0
5    0.000006          2        1        1        0.5
6   60.710659          5        3        2        1.0
7    0.007426          2        1        1        0.5
8   60.724567          5        3        2        1.0
9   60.730921          5        3        2        1.0
10  63.326975          5        3        2        1.0
11  61.260343          5        3        2        1.0
12  60.716094          5        3        2        1.0
13   0.002383          2        1        1        0.5
14  60.873632          5        3        2        1.0
15  63.319412          5        3        2        1.0
16  60.735643          5        3        2        1.0
17  60.741544          5        3        2        1.0
18  60.709482          5        3        2        1.0
19  62.203058          5        3        2        1.0
20  60.742189          5        3        2        1.0
21  60.724601          5        3        2        1.0
22  60.747700          5        3        2        1.0
23  63.324107          5        3        2        1.0
24   0.000007          2        1        1        0.5

This creates a new table version: `merged_canonical_normalized_v5`

In [49]:
# drop v5 if it already exists
exec_ddl(f"DROP TABLE IF EXISTS {database_name}.merged_canonical_normalized_v5")

# Create v5 with byte_ratio (built on v4 so prior features are retained)
exec_ddl(f"""
CREATE TABLE {database_name}.merged_canonical_normalized_v5
WITH (
  format = 'PARQUET',
  external_location = 's3://{results_bucket}/aai540/processed/merged_canonical_normalized_v5/',
  parquet_compression = 'SNAPPY'
) AS
SELECT
  *,
  CASE
    WHEN bytes_fwd IS NULL OR bytes_fwd < 0 THEN NULL
    WHEN bytes_bwd IS NULL OR bytes_bwd < 0 THEN NULL
    ELSE CAST(bytes_fwd AS DOUBLE) / (CAST(bytes_bwd AS DOUBLE) + 1.0)
  END AS byte_ratio
FROM {database_name}.merged_canonical_normalized_v4
""")

In [51]:
read_sql(f"""
SELECT
  bytes_fwd,
  bytes_bwd,
  byte_ratio
FROM {database_name}.merged_canonical_normalized_v5
LIMIT 25
""")

    bytes_fwd  bytes_bwd  byte_ratio
0        1684      10168    0.165601
1       37202       3380   11.003253
2        2062       2308    0.893027
3       37202       3380   11.003253
4       34916    1546546    0.022577
5        1580      10168    0.155374
6         146        178    0.815642
7        2230      15258    0.146143
8         544        304    1.783607
9        2854      29272    0.097496
10       2062       2308    0.893027
11       1580      10168    0.155374
12       5486      95560    0.057408
13      37202       3380   11.003253
14       2230      15258    0.146143
15        520        304    1.704918
16       3718      43716    0.085047
17        132        164    0.800000
18       2230      15258    0.146143
19        146        178    0.815642
20       5486      95560    0.057408
21       2854      29168    0.097844
22       4144       2456    1.686610
23        568        304    1.862295
24       1684      10168    0.165601

In [ ]:
## Finalize Feature Engineering Table

In [52]:
# drop final table if it already exists
exec_ddl(f"DROP TABLE IF EXISTS {database_name}.feature_engineered")

# create final feature_engineered table from v5
exec_ddl(f"""
CREATE TABLE {database_name}.feature_engineered
WITH (
  format = 'PARQUET',
  external_location = 's3://{results_bucket}/aai540/processed/feature_engineered/',
  parquet_compression = 'SNAPPY'
) AS
SELECT *
FROM {database_name}.merged_canonical_normalized_v5
""")

In [53]:
read_sql(f"""
SELECT
  pkt_rate,
  byte_rate,
  bytes_per_pkt,
  pkt_ratio,
  byte_ratio
FROM {database_name}.feature_engineered
LIMIT 10
""")

        pkt_rate     byte_rate  bytes_per_pkt  pkt_ratio  byte_ratio
0    4077.393545  1.649267e+06     404.490566   0.945455    0.080161
1    7349.762214  1.623649e+06     220.911765   0.971429    0.174314
2      26.038514  1.632615e+03      62.700000   0.909091    0.939722
3      88.852558  4.108542e+04     462.400000   2.000000   27.813084
4      96.467612  4.072902e+04     422.204082   1.200000   10.872884
5  222222.222222  2.933333e+07     132.000000   2.000000  264.000000
6    6052.222030  1.307799e+06     216.085714   0.918919    0.172908
7    3686.635945  2.986175e+05      81.000000   0.666667    0.815642
8    4385.964912  6.074561e+05     138.500000   0.923077    0.470588
9    6040.673871  1.804148e+06     298.666667   0.936170    0.114700

In [5]:
profile_invalid = read_sql(f"""
SELECT
  COUNT(*) AS total_rows,

  -- NULL counts
  SUM(CASE WHEN duration  IS NULL THEN 1 ELSE 0 END) AS duration_null,
  SUM(CASE WHEN pkt_total IS NULL THEN 1 ELSE 0 END) AS pkt_total_null,
  SUM(CASE WHEN bytes_total IS NULL THEN 1 ELSE 0 END) AS bytes_total_null,
  SUM(CASE WHEN pkt_fwd   IS NULL THEN 1 ELSE 0 END) AS pkt_fwd_null,
  SUM(CASE WHEN pkt_bwd   IS NULL THEN 1 ELSE 0 END) AS pkt_bwd_null,
  SUM(CASE WHEN bytes_fwd IS NULL THEN 1 ELSE 0 END) AS bytes_fwd_null,
  SUM(CASE WHEN bytes_bwd IS NULL THEN 1 ELSE 0 END) AS bytes_bwd_null,

  -- Negative counts
  SUM(CASE WHEN duration  < 0 THEN 1 ELSE 0 END) AS duration_neg,
  SUM(CASE WHEN pkt_total < 0 THEN 1 ELSE 0 END) AS pkt_total_neg,
  SUM(CASE WHEN bytes_total < 0 THEN 1 ELSE 0 END) AS bytes_total_neg,
  SUM(CASE WHEN pkt_fwd   < 0 THEN 1 ELSE 0 END) AS pkt_fwd_neg,
  SUM(CASE WHEN pkt_bwd   < 0 THEN 1 ELSE 0 END) AS pkt_bwd_neg,
  SUM(CASE WHEN bytes_fwd < 0 THEN 1 ELSE 0 END) AS bytes_fwd_neg,
  SUM(CASE WHEN bytes_bwd < 0 THEN 1 ELSE 0 END) AS bytes_bwd_neg,

  -- Zero counts
  SUM(CASE WHEN duration  = 0 THEN 1 ELSE 0 END) AS duration_zero,
  SUM(CASE WHEN pkt_total = 0 THEN 1 ELSE 0 END) AS pkt_total_zero,
  SUM(CASE WHEN bytes_total = 0 THEN 1 ELSE 0 END) AS bytes_total_zero

FROM {database_name}.feature_engineered
""")
profile_invalid

,total_rows,duration_null,pkt_total_null,bytes_total_null,pkt_fwd_null,pkt_bwd_null,bytes_fwd_null,bytes_bwd_null,duration_neg,pkt_total_neg,bytes_total_neg,pkt_fwd_neg,pkt_bwd_neg,bytes_fwd_neg,bytes_bwd_neg,duration_zero,pkt_total_zero,bytes_total_zero
0,26708942,0,0,0,0,0,0,0,115,0,0,0,0,0,0,5325739,115260,15981998

## Count rows to be dropped

In [6]:
invalid_row_summary = read_sql(f"""
SELECT
  COUNT(*) AS total_rows,
  SUM(
    CASE WHEN
      -- NULL raw features
      duration IS NULL OR pkt_total IS NULL OR bytes_total IS NULL OR
      pkt_fwd IS NULL OR pkt_bwd IS NULL OR bytes_fwd IS NULL OR bytes_bwd IS NULL OR

      -- negative raw features
      duration < 0 OR pkt_total < 0 OR bytes_total < 0 OR
      pkt_fwd < 0 OR pkt_bwd < 0 OR bytes_fwd < 0 OR bytes_bwd < 0 OR

      -- zeros 
      duration = 0 OR pkt_total = 0
    THEN 1 ELSE 0 END
  ) AS rows_to_drop
FROM {database_name}.feature_engineered
""")

invalid_row_summary

   total_rows  rows_to_drop
0    26708942       5325854

## Inspect a few invalid rows

In [8]:
invalid_rows_sample = read_sql(f"""
SELECT
  duration, pkt_total, bytes_total, pkt_fwd, pkt_bwd, bytes_fwd, bytes_bwd,
  pkt_rate, byte_rate, bytes_per_pkt, pkt_ratio, byte_ratio,
  label, source_dataset
FROM {database_name}.feature_engineered
WHERE
  duration IS NULL OR pkt_total IS NULL OR bytes_total IS NULL OR
  pkt_fwd IS NULL OR pkt_bwd IS NULL OR bytes_fwd IS NULL OR bytes_bwd IS NULL OR
  duration < 0 OR pkt_total < 0 OR bytes_total < 0 OR
  pkt_fwd < 0 OR pkt_bwd < 0 OR bytes_fwd < 0 OR bytes_bwd < 0 OR
  duration = 0 OR pkt_total = 0
LIMIT 20
""")

invalid_rows_sample

,duration,pkt_total,bytes_total,pkt_fwd,pkt_bwd,bytes_fwd,bytes_bwd,pkt_rate,byte_rate,bytes_per_pkt,pkt_ratio,byte_ratio,label,source_dataset
0,0.0,6,384,6,0,384,0,None,None,64.0,6.000000,384.000000,0,UNSW-NB15
1,0.0,6,384,6,0,384,0,None,None,64.0,6.000000,384.000000,0,UNSW-NB15
2,0.0,6,384,6,0,384,0,None,None,64.0,6.000000,384.000000,0,UNSW-NB15
3,0.0,6,384,6,0,384,0,None,None,64.0,6.000000,384.000000,0,UNSW-NB15
4,0.0,1,46,1,0,46,0,None,None,46.0,1.000000,46.000000,0,UNSW-NB15
5,0.0,1,46,1,0,46,0,None,None,46.0,1.000000,46.000000,0,UNSW-NB15
6,0.0,1,46,1,0,46,0,None,None,46.0,1.000000,46.000000,0,UNSW-NB15
7,0.0,1,46,1,0,46,0,None,None,46.0,1.000000,46.000000,0,UNSW-NB15
8,0.0,4,148,2,2,56,92,None,None,37.0,0.666667,0.602151,0,UNSW-NB15
9,0.0,4,148,2,2,56,92,None,None,37.0,0.666667,0.602151,0,UNSW-NB15
10,0.0,1,0,0,1,0,0,None,None,0.0,0.000000,0.000000,1,TON_IoT
11,0.0,1,0,0,1,0,0,None,None,0.0,0.000000,0.000000,1,TON_IoT
12,0.0,1,0,0,1,0,0,None,None,0.0,0.000000,0.000000,1,TON_IoT
13,0.0,1,0,1,0,0,0,None,None,0.0,1.000000,0.000000,1,TON_IoT
14,0.0,1,0,1,0,0,0,None,None,0.0,1.000000,0.000000,1,TON_IoT
15,0.0,1,0,0,1,0,0,None,None,0.0,0.000000,0.000000,1,TON_IoT
16,0.0,1,0,1,0,0,0,None,None,0.0,1.000000,0.000000,1,TON_IoT
17,0.0,1,0,1,0,0,0,None,None,0.0,1.000000,0.000000,1,TON_IoT
18,0.0,1,0,1,0,0,0,None,None,0.0,1.000000,0.000000,1,TON_IoT
19,0.0,1,0,1,0,0,0,None,None,0.0,1.000000,0.000000,1,TON_IoT

## Create cleaned table (drop ALL invalid rows: NULL, negative, or zero)

In [9]:
# create a cleaned table
exec_ddl(f"DROP TABLE IF EXISTS {database_name}.feature_engineered_cleaned")

exec_ddl(f"""
CREATE TABLE {database_name}.feature_engineered_cleaned
WITH (
  format = 'PARQUET',
  external_location = 's3://{results_bucket}/aai540/processed/feature_engineered_cleaned/',
  parquet_compression = 'SNAPPY'
) AS
SELECT *
FROM {database_name}.feature_engineered
WHERE
  -- Raw canonical must exist
  duration IS NOT NULL
  AND pkt_total IS NOT NULL
  AND bytes_total IS NOT NULL
  AND pkt_fwd IS NOT NULL
  AND pkt_bwd IS NOT NULL
  AND bytes_fwd IS NOT NULL
  AND bytes_bwd IS NOT NULL

  -- Raw canonical must be non-negative
  AND duration >= 0
  AND pkt_total >= 0
  AND bytes_total >= 0
  AND pkt_fwd >= 0
  AND pkt_bwd >= 0
  AND bytes_fwd >= 0
  AND bytes_bwd >= 0

  -- Drop zero denominators
  AND duration > 0
  AND pkt_total > 0
""")

## Validate

In [10]:
read_sql(f"""
SELECT
  (SELECT COUNT(*) FROM {database_name}.feature_engineered) AS before_rows,
  (SELECT COUNT(*) FROM {database_name}.feature_engineered_cleaned) AS after_rows
""")

   before_rows  after_rows
0     26708942    21383088